<a href="{% url 'games:game_detail' game.id %}" class="text-decoration-none text-dark">
    <div class="game-card-custom card shadow-sm border-0 h-100">
        <img src="{{ game.image_ref|default:'https://via.placeholder.com/300x450?text=No+Image' }}"
             class="card-img-top rounded-top" alt="{{ game.title }}">

        <div class="card-body p-2 d-flex flex-column justify-content-between">
            <h5 class="card-title mb-2 text-truncate">{{ game.title }}</h5>

            {% if game.release_date %}
            <p class="card-text mb-2"><small class="text-muted">{{ game.release_date|date:"d M Y" }}</small></p>
            {% endif %}

            <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0 text-truncate" style="color: #6c757d; font-weight: bold;">{{ game.avg_rating_message }}</h6>
                <span style="
                    font-size: 0.95rem;
                    font-weight: 600;
                    padding: 0.4rem 0.7rem;
                    border-radius: 0.5rem;
                    background-color: {{ game.avg_rating_color }};
                ">
                    {% if game.avg_rating_display %}
                        {{ game.avg_rating_display }}
                    {% else %}
                        Not Rated
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</a>
