{% extends 'base.html' %}

{% block title %}Homepage | RottenScores{% endblock %}

{% block content %}
<section class="mb-5">
    <div class="section-header" style="display: flex; justify-content: space-between; align-items: center;">
        <h2>New Releases</h2>
        <a href="{% url 'games:game_list' %}" class="text-decoration-none">SEE ALL</a>
    </div>

    <div class="row">
        {% for game in new_releases %}
        <div class="col-md-2 mb-4">
            {% include 'core/includes/game_card.html' with game=game %}
        </div>
        
        {% empty %}
        <div class="col-12">
            <div class="alert alert-info">No new releases found.</div>
        </div>
        {% endfor %}
    </div>
</section>

<section>
    <div class="section-header" style="display: flex; justify-content: space-between; align-items: flex-start;">
        <div>
            <h2>Best Games on</h2>
            <ul class="platform-nav mt-2" style="list-style: none; padding-left: 0; display: flex; flex-wrap: wrap; gap: 0.5rem;">
                <div class="mb-4">
                    <ul class="nav platform-nav">
                        {% for platform_name in all_platforms %}
                            <li class="nav-item me-2">
                                <a href="?platform={{ platform_name }}"
                                   class="nav-link {% if current_platform == platform_name %}active text-dark bg-dark text-white{% else %}text-muted{% endif %}"
                                   style="padding: 0.5rem 1rem; border-radius: 0.5rem; transition: 0.3s;">
                                    {{ platform_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                
            </ul>
        </div>
        <a href="{% url 'games:game_list' %}" class="text-decoration-none">SEE ALL</a>
    </div>


    <div class="row">
        {% for game in best_platform_games %}
        <div class="col-md-2 mb-4">
            {% include 'core/includes/game_card.html' with game=game %}
        </div>
        {% empty %}
        <div class="col-12">
            <div class="alert alert-info">No top games found for {{ current_platform }}.</div>
        </div>
        {% endfor %}
    </div>
    
</section>
{% endblock %}
